<div class="users-show">
  <h1><%= @user.first_name %>'s Profile</h1>
  <div class="users-private">
    <% if @user == current_user %>
      <div class="users-private-info" id="users-private-edit">
        (<%= link_to 'Edit profile', edit_user_path(@user) %>)<br/><br/>
      </div>
      <div class="users-private-info" id="users-private-label">
        <strong>Personal Info</strong> (seen by only you)<br/><br/>
      </div>
      <div class="users-private-info" id="users-private-location">
        Full Name: <%= @user.first_name %> <%= @user.last_name %><br/>
        Street Address: <%= @user.street_address %><br/>
        City: <%= @user.city %><br/>
        State: <%= @user.state %><br/>
        Zip Code: <%= @user.zip_code %><br/><br/>
        <br/><br/>
      </div>
      <div class="users-private-info" id="users-global-label">
        <strong>Profile Info</strong> (seen by everyone):<br/><br/>
      </div>
    <% end %><br/><br/>
  </div>

  <div class="users-global">
    <div class="users-global-info" id="users-global-photo">
      <h3>Profile Photo:</h3><br/>
      <img src="<%= @user.profile_photo %>"><br/><br/>
    </div>
    <div class="users-global-info" id="users-global-about">
      <h3>About:</h3><br/>
      <%= @user.about %><br/>
    </div>
    <div class="users-global-info" id="users-global-hosted">
      <h3>Events hosted:</h3><br/><br/>
    </div><br/><br/>
  </div>
</div>
