<!DOCTYPE html>
<html>
<head>
  <title>WeatherBloc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav-bar">
    <ul class="nav">
      <li id="title">WeatherBloc</li>
      <div class="list">
        <%- if user_signed_in? -%>
          <li><%= link_to 'Add a Gem', new_ruby_gem_path %></li>
          <li> ■■■ </li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li> ■■■ </li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </div>
    </ul>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</body>
</html>
